img {
    position: absolute;
    left: 193px;
    right: 20px;
    max-width: 99%;
    max-height: 99%;
}

body {
    background: white;
}

p.akce {
    background-color: rgb(182, 0, 0);
    padding: 0 10px;
    font-size: 100px;
    font-weight: bold;
    font-family: "Vodafone", Consolas, 'Courier New', Courier, monospace;
    color: white;
    position: absolute;
    left: 500px;
    top: 50px;
    
}

p.motto {
    font-size: 50px;
    font-weight: bold;
    font-family: "Vodafone", Consolas, 'Courier New', Courier, monospace;
    text-align: center;
    color: rgb(182, 0, 0);
    display: block;
    width: 40%;
    position: relative;
    left: 300px;
    top: 250px;

}